<app-spinner *ngIf="showSpinner"></app-spinner>
<!--<ul>
  <li *ngFor="let emp of Employees" class="color-text">
  User name: <strong>{{ emp.name }}</strong> <br>
  User email: <strong>{{ emp.email }}</strong> <br>
<userstatus [status]="user.status"></userstatus> 
 <hr class="horizontal-rule">
  </li>
</ul> 
-->
<div class="container" *ngIf="!showSpinner">
  <div class="field">
    <div class="control">
      <input class="input" [(ngModel)]="searchText" name="searchText" type="text" placeholder="Search employee by name...">
    </div>
  </div>
  <table class="table is-bordered is-hoverable">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Name</th>
        <th>Phone No.</th>
        <th>Department</th>
        <th>Current Contracts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of Employees | searchemp : searchText; let i = index">
        <th>{{i+1}}</th>
        <td>{{emp.name}}</td>
        <td>+91 {{emp.phone}}</td>
        <td>{{emp.role | removedept}}</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
